<ion-content class="ion-no-padding">

<div class="flex-main">
  <div>
   <div>
    <h1>Check'a</h1>
   </div>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <small *ngIf="isLoginError">
          *Incorrect username or password
        </small>
        
        <ion-item class="ion-margin-top">
          <ion-input placeholder="Email Address" formControlName="emailAddress" type="text"></ion-input>
          <ion-icon name="mail-sharp" color="primary" slot="start"></ion-icon>
        </ion-item>

        <ion-item class="ion-margin-top">
          <ion-input placeholder="Password" formControlName="password" type="password"></ion-input>
          <ion-icon name="key-sharp" color="primary" slot="start"></ion-icon>
        </ion-item>

        <ion-button type="submit" [disabled]='!loginForm.valid' expand="full" class="ion-margin-top">Login</ion-button>
      </form>


      <div class="flex ion-margin-top">
        <ion-router-link color="primary" href="/signup">Sign Up</ion-router-link>
        <ion-router-link color="primary" href="/signup">Forgot Password</ion-router-link>
      </div>
    </div>
      
  </div>
</ion-content> 
